body {
     margin: 0;
     font-family: 'Poppins', sans-serif;
     background-color: #FFF;
}

a {
     text-decoration: none;
}

ul {
     margin-block-start: 0;
     margin-block-end: 0;
     padding-inline-start: 0;
}

header {
     background-color: #212121;
     position: fixed;
     width: 100%;
     z-index: 100;
}

footer {
     background-color: #212121;
     width: 100%;
}

header a {
    color: #fff;
    font-size: 10px;
}

header ul li {
     padding: 0 10px;
}

header ul li a {
    position: relative;
    top: -2px;
}
 
li.with-pipe {
     border-right: 1px solid #fff;
}

#featured-tours {
     padding: 5% 20px;
     text-align: center;
}

#tours {
     margin-top: 30px;
}

.section-title {
     font-size: 35px;
     font-weight: bold;
     text-align: center;
     color: #545454;
     margin-bottom: 10px;
}

.row {
     margin-right: 0;
     margin-left: 0;
}

.section-text {
     color:#9b9b9b;
     font-size: 12px;
     display: inline-block;
     width: 67%;
}

.primary-btn {
     background-color: #ff6b6b;
     padding: 10px 10px;
     border-radius: 17px;
     border:none;
     text-transform: uppercase;
     color: #fff;
     font-size: 10px;
     font-weight:bold;
}

.secondary-btn {
     background-color: transparent;
     padding: 10px 2.5%;
     border-radius: 18px;
     border: 2px solid #FFFFFF;
     text-transform: uppercase;
     color: #fff;
     font-size: 10px;
     font-weight:bold;
}

.container, .footer {
     max-width: 1100px;
     margin: 0 auto;
     position: relative;
}

.logo-container {
     padding: 14px 0 10px 0;
     display: inline-block;
}

.logo-container a img, .site-logo {
     width: 100%;
     max-width: 170px;
}

i.far {
    margin-right: 3px;
    position: relative;
    top: 1px;
}

i.fas {
    position: relative;
    top: 1px;
}
 
ul.ctas {
     list-style: none;
     display: inline-block;
     position: absolute;
     right: 0;
     top: 20px;
}
 
ul.ctas li {
     display: inline-block;
}

.carousel .item {
     position: relative;
}

.carousel-indicators li, .carousel-indicators li.active {
     width: 15px;
     height: 15px;
     margin: 5px;
}

.carousel-indicators li:not(.active) {
     border: none;
     background-color: #FFFFFF;
     opacity: .4;
}

.slider-content {
     position: absolute;
     top: 20%;
     width: 100%;
     padding: 6% 15%;
     color: #FFF;
}

.slider-content .title {
     font-size: 40px;
     font-weight: bold;
     width: 400px;
 }

.slider-content .description {
     width: 58%;
}

.slider-content div {
    padding: 10px 0;
}

.tour-name {
     padding-top: 30px;
     font-size: 18px;
     font-weight: bold;
}

.tour-details {
     color:#9b9b9b;
     font-size: 12px;
}

.tour-read-more {
     padding: 20px;
}

#best-tours {
     position: relative;
     color: #FFF;
}

#best-tours .boxes {
     margin-top: 40px;
}

#best-tours .content{
     position: absolute;
     top: 18%;
     width: 100%;
     text-align: center;
}

#best-tours .content .title {
     font-size: 35px;
     font-weight: bold;
     padding-bottom: 20px;
}

#best-tours .content .description {
     font-size: 12px;
     width: 45%;
     display:inline-block;
     padding-bottom:40px;
}

#best-tours .why-us {
     padding: 6% 10% 4% 10%;
     color: #545454;
}

#best-tours .boxes .box {
     text-align:center;
     padding: 0 35px;
}
  
#best-tours .boxes .box img {
     width: 80px;
}

#best-tours .box .title {
     font-size: 20px;
     font-weight: bold;
     padding: 20px 0;
}

#best-tours .box .description {
     font-size: 12px;
     color: #9b9b9b;
}

#our-partners {
     background-color: #f5f5f5;
     padding: 5% 10% 4.5% 10%;
}

#our-partners .partners .partner {
     text-align:center;
}
 
#our-partners .partners .partner img {
     width: 115px;
}

#our-partners .section-title {
     margin-bottom: 30px;
}

#client-feedbacks {
     padding: 5% 12% 2% 12%;
}

#client-feedbacks .clients .client img {
     width: 65px;
}

#client-feedbacks .section-title {
     margin-bottom: 70px;
}

#client-feedbacks .clients .client .testimonial {
     font-size: 11px;
     color: #545454;
}

#client-feedbacks .client-names .name {
     padding: 10px 17px;
     font-size: 13px;
     font-weight: bold;
     color: #9b9b9b;
}

#client-feedbacks .cta {
     text-align: center;
     padding: 50px 0 30px 0;
}

#client-feedbacks .primary-btn {
     padding: 13px 45px;
     border-radius: 20px;
}